<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen">
    <% include ../partial/admin_drawer %>
    <h1 class="text-center text-3xl font-bold my-5">Total Avaliable Donors</h1>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">Avaliable Donors</div>
          <div class="stat-value"><%= activeDonorCount %></div>
          <div class="stat-desc">At your area</div>
        </div>
        <% if(activeDonor.filter((item)=> item._id == "A+").length > 0){%>
        <div class="stat">
          <div class="stat-title">A+</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "A+").length > 0 ?
            activeDonor.filter((item)=> item._id == "A+")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%> <% if(activeDonor.filter((item)=> item._id == "A-").length > 0){%>
        <div class="stat">
          <div class="stat-title">A-</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "A-").length > 0 ?
            activeDonor.filter((item)=> item._id == "A-")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%>
      </div>
    </div>
    <h1 class="text-center text-3xl font-bold my-5">Total Donors</h1>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">Total Donor</div>
          <div class="stat-value"><%= totalDonorCount %></div>
          <div class="stat-desc">At your area</div>
        </div>
        <% if( totalDonor.filter((item)=> item._id == "A+").length > 0){%>
        <div class="stat">
          <div class="stat-title">A+</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "A+").length > 0 ?
            totalDonor.filter((item)=> item._id == "A+")[0].count : 0 %>
          </div>
        </div>
        <%}%> <% if(totalDonor.filter((item)=> item._id == "A-").length > 0){%>
        <div class="stat">
          <div class="stat-title">A-</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "A-").length > 0 ?
            totalDonor.filter((item)=> item._id == "A-")[0].count : 0 %>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <% if(totalDonor.filter((item)=> item._id == "B+").length > 0 ){%>
        <div class="stat">
          <div class="stat-title">B+</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "B+").length > 0 ?
            totalDonor.filter((item)=> item._id == "B+")[0].count : 0 %>
          </div>
        </div>
        <%}%> <% if(totalDonor.filter((item)=> item._id == "B-").length > 0){%>
        <div class="stat">
          <div class="stat-title">B-</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "B-").length > 0 ?
            totalDonor.filter((item)=> item._id == "B-")[0].count : 0 %>
          </div>
        </div>
        <%}%> <% if(totalDonor.filter((item)=> item._id == "AB+").length > 0){%>
        <div class="stat">
          <div class="stat-title">AB+</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "AB+").length > 0 ?
            totalDonor.filter((item)=> item._id == "AB+")[0].count : 0 %>
          </div>
        </div>
        <%}%>
      </div>
    </div>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <% if(totalDonor.filter((item)=> item._id == "AB-").length > 0){%>
        <div class="stat">
          <div class="stat-title">AB-</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "AB-").length > 0 ?
            totalDonor.filter((item)=> item._id == "AB-")[0].count : 0 %>
          </div>
        </div>
        <%}%> <% if(totalDonor.filter((item)=> item._id == "O+").length > 0){%>
        <div class="stat">
          <div class="stat-title">O+</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "O+").length > 0 ?
            totalDonor.filter((item)=> item._id == "O+")[0].count : 0 %>
          </div>
        </div>
        <%}%> <% if(totalDonor.filter((item)=> item._id == "O-").length > 0){%>
        <div class="stat">
          <div class="stat-title">O-</div>
          <div class="stat-value">
            <%= totalDonor.filter((item)=> item._id == "O-").length > 0 ?
            totalDonor.filter((item)=> item._id == "O-")[0].count : 0 %>
          </div>
        </div>
        <%}%>
      </div>
    </div>

    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <% if(activeDonor.filter((item)=> item._id == "B+").length > 0){%>
        <div class="stat">
          <div class="stat-title">B+</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "B+").length > 0 ?
            activeDonor.filter((item)=> item._id == "B+")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%> <% if(activeDonor.filter((item)=> item._id == "B-").length > 0){%>
        <div class="stat">
          <div class="stat-title">B-</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "B-").length > 0 ?
            activeDonor.filter((item)=> item._id == "B-")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%> <% if(activeDonor.filter((item)=> item._id == "AB+").length >
        0){%>
        <div class="stat">
          <div class="stat-title">AB+</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "AB+").length > 0 ?
            activeDonor.filter((item)=> item._id == "AB+")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%>
      </div>
    </div>
    <div class="mt-5 mx-2">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <% if(activeDonor.filter((item)=> item._id == "AB-").length > 0){%>
        <div class="stat">
          <div class="stat-title">AB-</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "AB-").length > 0 ?
            activeDonor.filter((item)=> item._id == "AB-")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%> <% if(activeDonor.filter((item)=> item._id == "O+").length > 0){%>
        <div class="stat">
          <div class="stat-title">O+</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "O+").length > 0 ?
            activeDonor.filter((item)=> item._id == "O+")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%> <% if(activeDonor.filter((item)=> item._id == "O-").length > 0){%>
        <div class="stat">
          <div class="stat-title">O-</div>
          <div class="stat-value">
            <%= activeDonor.filter((item)=> item._id == "O-").length > 0 ?
            activeDonor.filter((item)=> item._id == "O-")[0].count : 0 %>
          </div>
          <div class="stat-desc">Active</div>
        </div>
        <%}%>
      </div>
    </div>
  </body>
</html>
