<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Detail</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen">
    <% include ../partial/suadmin_drawer %>
    <div class="grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 my-5">
      <div></div>
      <div class="card w-full shadow-xl glass">
        <div class="card-body">
          <h1 class="text-center text-3xl font-bold my-3"><%= admin.name %></h1>
          <div class="grid grid-cols-2">
            <p class="text-center font-bold my-3"><%= admin.email %></p>
            <p class="text-center font-bold my-3"><%= admin.phone %></p>
            <p class="text-center font-bold my-3"><%= admin.state %></p>
            <p class="text-center font-bold my-3"><%= admin.district %></p>
          </div>
          <div class="grid grid-cols-2 gap-5">
            <a
              href="/suadmin/adminUpdate/<%= admin._id %>"
              class="btn btn-warning"
              >Update</a
            >
            <button class="btn btn-error" onclick="btnDel('<%= admin._id %>')">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function btnDel(id) {
      var opt = confirm("Are you sure for delete");
      if (opt) location.href = "/suadmin/adminDelete/" + id;
    }
  </script>
</html>
