<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Super Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/dataTables.tailwindcss.css" />
  </head>
  <body class="min-h-screen">
    <% include ../partial/suadmin_drawer %>
    <div class="mt-5">
      <div
        class="stats stats-vertical lg:stats-horizontal shadow grid grid-cols-3"
      >
        <div class="stat">
          <div class="stat-title">Total Donation</div>
          <div class="stat-value"><%= donationCount %></div>
          <div class="stat-desc">All time</div>
        </div>

        <div class="stat">
          <div class="stat-title">Total Donors</div>
          <div class="stat-value"><%= donorCount %></div>
          <div class="stat-desc">Active</div>
        </div>

        <div class="stat">
          <div class="stat-title">Total Admin</div>
          <div class="stat-value"><%= adminCount %></div>
          <div class="stat-desc">Active</div>
        </div>
      </div>
    </div>
    <h1 class="text-2xl text-center font-bold my-3">
      Donors list by Blood Type
    </h1>
    <div class="mt-5 overflow-x-auto p-5">
      <table id="example" class="display table my-3" style="width: 100%">
        <thead>
          <tr>
            <th>Township</th>
            <th>A</th>
            <th>A-</th>
            <th>B</th>
            <th>B-</th>
            <th>AB</th>
            <th>AB-</th>
            <th>O</th>
            <th>O-</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i = 0; i < donors.length;i++){%>
          <tr>
            <td><%= donors[i]._id %></td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'A+'}).length %>
            </td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'A-'}).length %>
            </td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'B+'}).length %>
            </td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'B-'}).length %>
            </td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'AB+'}).length %>
            </td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'AB-'}).length %>
            </td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'O+'}).length %>
            </td>
            <td>
              <%= donors[i].donor.filter((item)=> {return item.bloodType ==
              'O-'}).length %>
            </td>
          </tr>
          <%}%>
        </tbody>
        <tfoot>
          <tr>
            <th>Township</th>
            <th>A</th>
            <th>A-</th>
            <th>B</th>
            <th>B-</th>
            <th>AB</th>
            <th>AB-</th>
            <th>O</th>
            <th>O-</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/dataTables.js"></script>
  <script src="/javascripts/dataTables.tailwindcss.js"></script>
  <script>
    new DataTable("#example");
  </script>
</html>
